# Environment Variables Template
PORT=5000
JWT_SECRET=super_secret_jwt_key_you_should_change_this_later

# Database Connection
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
# Supabase example: postgresql://postgres.xxxxx:password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DATABASE_URL="postgresql://johndoe:mypassword@localhost:5432/shopee_cookie_db?schema=public"
